/* .header-mother {
    background-image: url(../image/Mask.Group1.svg);
    width: 100%;
    height: 1554px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}
.box-mother-navigation {
    max-width: 1104px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
  
     
}

.navigation-ul {
    display: flex;

    
   
}
.login {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color:#F84646 ;
    width: 78px;
    height: 40px;
    padding: 10px 20px;
    color:#FFFFFF;

} */


/* section class */
.section-mother-1 {
    background-color: #FFFFFF;

}

.section-1 {
    width: 80%;
    margin: auto;
}

.box-top {
    max-width: 1197px;
    margin: auto;
    margin-top: 120px;
}

.pharagrap-h2 {
    text-align: center;
    font-size: 36px;
    max-width: 428px;
    margin: auto;
    line-height: 49.18px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 30px;
    font-family: 'Manrope';
}

.pharagrap-section1 {
    height: 109px;
    color: #000000;
    font-weight: 400;
    font-size: 24px;
    line-height: 39.5px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: auto;
    font-family: 'Manrope';

}

.box-section1 {
    width: 298px;
    height: 208.5px;
    row-gap: 91px;
    text-align: center;

}

.section-box-div {
    flex-wrap: wrap;
    display: flex;
    max-width: 1153px;
    justify-content: space-between;
    row-gap: 91px;
    margin-top: 99px;
}

.image-section1 {
    max-width: 45px;
    height: 45px;

}

.box-section-h5 {
    font-weight: 800;
    font-size: 36px;
    line-height: 49.18px;
    margin-top: 10px;
    color: #000000;
    font-family: 'Manrope';
}

.box-section-pharagrap1 {
    letter-spacing: 0.2px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    max-width: 316px;
    color: #000000;
    text-align: center;
    margin-top: 17px;
    font-family: 'Manrope';

}

/* section2 */
.section-2 {
    width: 100%;

}

.bottom-section-mother {
    max-width: 1197px;
    margin: auto;
    width: 80%;
    margin-top: 171px;
}

.box-section-bottom-top {
    max-width: 1197px;
    height: 480px;
    display: flex;
    justify-content: space-between;
}

.box-section-bottom-left {
    max-width: 608px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-left-h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    font-family: 'Manrope';
    color: #2E2E2E;

}

.pharagrap-left {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
    font-family: 'Manrope';
    max-width: 523px;

}

.add {
    background-color: #F84646;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    max-width: 160px;
    height: 48px;
    text-align: center;
    padding: 12px;
    color: #FFFFFF;
}

.image-right {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.box-section-bottom-bottom {
    max-width: 1197px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;

}

.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.image-bottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-right-h2 {

    font-family: 'Manrope';
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #2E2E2E;
}

/* foooter class */

.footer {
    width: 100%;
    background-color: #F8464A;
}

.mother-footer {
    max-width: 1034px;
    display: flex;
    justify-content: space-between;
    margin: auto;

    margin-top: 40px;
}

.footer-h5 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-pharagrap {
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;

}

.box-11 {
    width: 182px;
    height: 304px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #E6E6E6;
}

.box-2 {
    max-width: 249px;
    height: 248px;
}

.box-3 {
    max-width: 152px;
    height: 192px;
}

.box-4 {
    max-width: 151px;
    height: 136px;
}

.pharagrap-last {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 1034px;
    margin: auto;
    color: #FFFFFF;

}

.last-div {
    margin-top: 50px;
}


@media (max-width:1024px) {
    .box-top {
        max-width: 764px;

    }

    .pharagrap-h2 {
        width: 60%;
        margin-top: 120px;
    }

    .pharagrap-section1 {
        max-width: 852px;
        width: 98%;
    }

    .section-box-div {
        margin-top: 80px;
        display: flex;
        row-gap: 91px;
    }

    .box-section1 {
        max-width: 298px;
        height: 201px;
    }

    .bottom-section-mother {
        margin-top: 151px;

    }

    .box-section-bottom-top {
        max-width: 904px;
        height: 404px;

    }

    .box-section-bottom-left {
        max-width: 480px;
        height: 404px;
    }

    .bottom-left-h2 {
        line-height: 59.5px;
        font-size: 58px;
        font-weight: 700;
        font-family: 'Manrope';
    }

    .pharagrap-left {
        font-size: 14px;
        line-height: 28.5px;
        height: 171px;

    }

    .box-section-bottom-right {
        width: 424px;

    }

    .image-right {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-bottom {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .box-image {
        max-width: 424px;
        height: 404px;
    }

    .box-section-bottom-bottom {
        max-width: 904px;
        display: flex;
        height: 404px;
        width: 90%;
        margin-top: 120px;
    }

    .bottom-right {
        max-width: 480px;
        height: 404px;
        display: flex;
        flex-direction: column;
    }

    .image-bottom {
        display: none;
    }

    /* .bacgraund-image {
        background-image: url(../image/Illustration3.svg);
        max-width: 424px;
        height: 404px;
        background-size: cover;
        background-repeat: no-repeat;
    } */

    .bottom-right-h2 {
        font-size: 58px;
        line-height: 59.5px;
    }

    .pharagrap-left {
        line-height: 28.5px;
        font-size: 14px;
        font-weight: 400;
        height: 191px;
        max-width: 428px;
    }

    /* footer stile */
    .mother-footer {
        max-width: 903.04px;
        width: 80%;

    }

    .box-11 {
        max-width: 184.04px;

    }

    .box-2 {
        max-width: 248.51px;
    }

    .box-3 {
        max-width: 153.33px;
    }

    .box-4 {
        max-width: 153px;
    }

    .pharagrap-last {
        width: 90%;
        margin-top: 50px;
    }
}

@media (max-width:375px) {
    .box-top {
        max-width: 335px;
        width: 90%;
        margin-bottom: 100px;
    }

    .section-box-div {
        max-width: 335px;
        width: 95%;
        display: flex;
        margin: auto;
        row-gap: 80px;
        margin-top: 40px;
    }

    .box-section1 {
        max-width: 298px;

    }

    .pharagrap-h2 {
        max-width: 284px;
        font-size: 16px;

    }

    .pharagrap-section1 {
        max-width: 334px;
        font-size: 12px;
        line-height: 22px;
    }

    .bottom-section-mother {
        text-align: center;
        margin-top: 190px;
    }

    .box-section-bottom-top {
        max-width: 738px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        width: 90%;

    }

    .box-section-bottom-bottom {
        max-width: 338px;
        flex-direction: column;
        display: flex;
        text-align: center;
        margin-top: 40px;
    }

    .image-right {
        max-width: 335px;


    }

    .box-section-bottom-right {
        object-fit: cover;
        width: 100%;
    }

    .bottom-left-h2 {
        max-width: 335px;
        font-weight: 700;
        font-size: 36px;
        line-height: 41.5px;
    }

    .pharagrap-left {
        max-width: 336px;
        height: 200px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28.5px;
        text-align: center;

    }

    .add {
        max-width: 338px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        padding: 12px;


    }

    .bottom-right-h2 {
        max-width: 335px;
        font-weight: 700;
        font-size: 36px;
        line-height: 41.5px;
        text-align: center;
    }

    /* footer clas */

    .mother-footer {
        max-width: 258.61px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .footer {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .box-2 {
        max-width: 258.61px;
    }

    .pharagrap-last {
        margin-top: 124px;
        width: 70%;
        margin-right: 86px;

    }


}